@import '~material-design-icons/iconfont/material-icons.css';

@import "~swiper/swiper.min.css";
@import "~swiper/swiper-bundle.min.css";
@import "~swiper/modules/free-mode/free-mode.min.css";
@import "~swiper/modules/navigation/navigation.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins;
  background-color: #E8EAF6;
}

snack-bar-container.success {
  background: rgb(65, 252, 134);
}

snack-bar-container.error {
  background: #F44336;
}

snack-bar-container.notification {
  color:white;
}
